# Environnement virtuel
.venv/

# Python cache
__pycache__/
*.pyc

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement
.env

# Logs (au cas où)
*.log
	
myenv/
venv/
__pycache__/
*.pyc
.DS_Store
.Rhistory
.streamlit/secrets.toml
